@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

 <header>
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="width: auto;" width="100%">
                <div class="container">
                <a class="navbar-brand" asp-area="" alt=""><img src="https://logodix.com/logo/1739947.png" width="130px" height="50px" href="/Index"></a>
                <a class="navbar-brand text-left" style="float-left" asp-area="" alt="" asp-page="/Index">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="Identity" asp-page="/Account/Manage/Index">
        <a  class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </a>
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
        <button style="border-color: white; color:white; background-color:#333333" class="btn info pull-right">Logout</button>
    </form>
}
else
{   
    <a asp-area="Identity" asp-page="/Account/Register">
        <button style="border-color: white; color:white; background-color:#333333" class="btn info pull-right" asp-area="Identity" asp-page="/Account/Register">Register</button>
    </a>
    <a>&nbsp&nbsp&nbsp&nbsp&nbsp</a>
    <a asp-area="Identity" asp-page="/Account/Login">
        <button style="border-color: white; color:white; background-color:#333333" class="btn info pull-right" asp-area="Identity" asp-page="/Account/Login">Login</button>
    </a>
}
</ul>
 </div>
            </nav>
    </header>
